html{
    height: 100%;
    width: 100%;
}

#color{
    color : blue
}

#backgroundcolor{
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url('https://i.ytimg.com/vi/ydXpEIU1OxQ/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#image{
    background-image: url('https://i.kym-cdn.com/entries/icons/facebook/000/028/207/Screen_Shot_2019-01-17_at_4.22.43_PM.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

#decoration{
    text-decoration: underline;
    text-align: center;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

